:root {
    --dracula-background: #22212c;
    --dracula-comment: #7970a9;
    --dracula-selection: #454158;
    --dracula-foreground: #f8f8f2;
    --dracula-cyan: #80ffea;
    --dracula-green: #8aff80;
    --dracula-orange: #ffca80;
    --dracula-pink: #ff80bf;
    --dracula-purple: #9580ff;
    --dracula-red: #ff9580;
    --dracula-yellow: #ffff80;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dracula-background);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: fira-code, source-code-pro, Menlo, Monaco, Consolas,
        "Courier New", monospace;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(1rem + 2vmin);
    color: var(--dracula-foreground);
    perspective: 300px;
}

.yeoman {
    margin: 30px;
    height: 20vmin;
    pointer-events: none;
    position: relative;
    left: -10px;
}

.link {
    margin: 10px;
    color: var(--dracula-cyan);
}

@media (prefers-reduced-motion: no-preference) {
    .yeoman {
        animation: yeoman-spin infinite 3s ease-in-out;
        animation-delay: 1s;
    }
}

@keyframes yeoman-spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

